@import './element-variables.scss';
@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';


.el-table thead {
  color: #2E415B;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//flex
.col,
.col-c {
  display: flex;
  flex-direction: column;
}

.row,
.row-c {
  display: flex;
}

.row {
  flex-direction: row;
}

// main-container global css
.app-container {
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .app-container {
    padding: 10px;
  }
}

.filter-container {
  padding-bottom: 10px;
}

.form-container .el-form-item__content {
  margin-left: 0px;
}

//chrome浏览器中自带input样式input:-internal-autofill-selected（修改input背景色）
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 111111s;
  -webkit-transition: color 11111s ease-out, background-color 111111s ease-out;
  transition-delay: 111111s;
  transition: color 11111s ease-out, background-color 111111s ease-out;
}
/* swiper */

.swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 3px;
}



.search-wrap {
  display: flex;
  margin-bottom: 24px;
  .el-input {
    width: 280px;
    margin-right: 32px;
  }
}


.type-list {
  display: flex;
  width: 100%;
  .type-title {
    width: 80px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #475B75;
    line-height: 22px;
  }
  .tip-wrap {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;


  }

  .tip {
    cursor: pointer;
    height: 22px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #475B75;
    line-height: 22px;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .select_tip {
    color: #4D97FF;
  }
}



.list-container {
  display: flex;
  flex-direction: column;
  .list-wrap {
    display: flex;
    cursor: pointer;
    .list-img {
      margin-right: 24px;
    }

    .list-info {
      width: 100%;
      .list-message {
        display: flex;
        justify-content: space-between;
        .list-left {
          display:flex;
          flex-direction: column;
        }
        .list-right {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 36px;
          border-radius: 4px;
          border: 1px solid #4D97FF;
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #4D97FF;
          line-height: 22px;
          padding: 0 10px;
        }
      }
      .list-tip {
        margin-bottom: 12px;
        .list-title {
          height: 28px;
          font-size: 20px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #2E415B;
          line-height: 28px;
        }
        .list-tag {
          margin: 0 8px;
          padding: 0 10px;
          background-color: #E7F2FF;
          border-color: #E7F2FF;
          display: inline-block;
          height: 30px;
          line-height: 30px;
          font-size: 12px;
          color: #409eff;
          border-width: 1px;
          border-style: solid;
          border-radius: 4px;
          box-sizing: border-box;
          white-space: nowrap;
        }
      }
      .list-money {
        margin-bottom: 12px;
        height: 22px;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #475B75;
        line-height: 22px;
      }
      .list-desc {
        height: 44px;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #6C7293;
        line-height: 22px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}


.tip-info {
  border-radius: 2px;
  border-left: 4px solid #1E81FF;
  margin-right: 10px;
}

.tip-title {
  height: 22px;
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #2E415B;
  line-height: 22px;
  margin-right: 20px;
}


.desc {
  margin: 10px 0;
  font-size: 14px;
  text-indent: 2em;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #6C7293;
  line-height: 22px;
}


.desc-tip {
  margin: 10px 0;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #6C7293;
  line-height: 22px;
}

.m-bottom {
  margin-bottom: 20px;
}

.m-top {
  margin-top: 20px;
}
.m-right {
  margin-right: 20px;
}
.m-left {
  margin-left: 20px;
}
.footer-btn {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  //width:  calc(100% - 210px);
  width: 100%;
  padding: 10px;
  z-index: 999;
}

.table-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  border: 1px solid #E6E7EC;
  border-radius: 4px;
  margin: 20px 0;
  .table-title {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 54px;
    background-color: #E6E7EC;
    span {
      width: 33.33%;
      height: 54px;
      line-height: 54px;
      font-size: 14px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #2E415B;
      border-right: 1px solid #dddee2;
    }
  }
  .table-info {
    display: flex;
    justify-content: space-around;
    //text-align: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    //height: 54px;
    background-color: #FFFFFF;
    span {
      width: 33.33%;
      padding: 20px 2px;
      text-align: center;
      //height: 54px;
      //line-height: 54px;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #475B75;
      border-right: 1px solid #E6E7EC;
      //overflow: hidden;
      //white-space: nowrap;
      //text-overflow: ellipsis;
    }
  }
}


.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}